* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .portfolio-logo {
  font-size: 40px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin-left: 35px;
}

.navbar ul li a {
  font-size: 20px;
  font-weight: 600;
  transition: 0.7s;
}

.navbar ul li:hover a,
.navbar ul li.homeicon a {
  color: greenyellow;
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
}
